.search-result-image {
  border: 5px solid black;
  height: 300px;
  width: 450px;
}

.margin-sides {
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

.spacing {
  margin-top: 90px;
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}
