.search-result-image img {
  height: 300px;
  width: 450px;
}

ul {
  list-style-type: none;
}

.spacing {
  margin-top: 90px;
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  width: 300px;
}
